body {
  // font-family: Flaviotte, "Noto Sans TC", Georgia;
  font-family: "Noto Sans TC", "Georgia";
  // font-family: "Flaviotte", "Noto Sans TC", "Georgia";
  font-weight: 500;
  line-height: 1.5;
  // outline: 1px solid gray;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

ul,
li {
  list-style: none;
  padding: 0px;
}

p {
  margin-bottom: 0;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.inherit {
  color: inherit;
}

.eng-font {
  font-family: "Flaviotte", "Georgia";
  line-height: 1;
}

ul,
li {
  list-style: none;
}

ul {
  padding: 0px;
}

p {
  margin: 0px;
  letter-spacing: 0.04em;
}
