<div class="section-f bg-neutral-3">
  <div class="container">
    <h3 class="text-white text-center mb-0 py-lg-5 py-2 fs-lg-5 fs-9">
      未滿18歲禁止飲酒
      <img
        class="ban"
        src="/assets/images/image-banned.png"
        alt="image-banned"
      />
      禁止酒駕
    </h3>
  </div>
</div>
<div class="section-f1 bg-neutral-4 border-neutral-3 border-bottom">
  <div class="container py-lg-11 py-3">
    <div class="row">
      <a class="d-flex justify-content-center" href="#"
        ><img class="pic1" src="/assets/images/image.png" alt="pic1"
      /></a>
    </div>
  </div>
</div>
<div class="section-f2 bg-neutral-4 border-neutral-3 border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 pb-15 pt-lg-15 ps-lg-12 border-line">
        <div class="mb-lg-11 d-md-none d-none d-lg-block">
          <h5 class="text-primary-1 eng-font">加入 Sip & Search 會員</h5>
          <h5 class="text-primary-1">解鎖每月專屬微醺體驗</h5>
        </div>
        <div class="d-lg-none mt-8 d-flex flex-column align-items-center">
          <p class="text-primary-1 fs-7">加入會員</p>
          <p class="text-primary-1 fs-7">解鎖每月專屬微醺體驗</p>
        </div>
        <div>
          <form
            class="d-flex align-items-center flex-lg-row flex-column"
            action="index.html"
          >
            <div class="form-floating">
              <input
                type="email"
                class="form-control text-primary-1 input1 rounded-0"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label class="text-primary-1 align-top" for="floatingInput"
                ><span class="material-symbols-outlined align-top"> mail </span>
                請輸入您的Email</label
              >
            </div>

            <input
              class="btn-rs-primary-4 border-0 rounded-0 ms-lg-9 py-lg-3 px-lg-9 mt-4 mt-lg-0 fs-lg-6 fs-8"
              type="submit"
              value="加入會員"
            />
          </form>
        </div>
      </div>

      <div class="col-lg-4 col-12 mt-lg-15 mb-lg-9 mb-5 ps-lg-11 mt-5">
        <div class="d-flex flex-column content1">
          <a class="navItem" href="about.html"
            ><h5 class="text-primary-1 mb-lg-9 fs-8 fs-md-7">關於我們</h5></a
          >
          <a class="navItem" href="#"
            ><h5 class="text-primary-1 mb-lg-9 fs-8 fs-md-7">
              聯絡/追蹤我們
            </h5></a
          >
        </div>
        <div class="d-flex content2">
          <a class="navItem" href="#"
            ><img
              class="pic-icon"
              src="/assets/images/image-fb-light.png"
              alt="fb" /></a
          ><a class="navItem" href="#"
            ><img
              class="pic-icon mx-lg-9 mx-3"
              src="/assets/images/image-ig-light.png"
              alt="ig"
          /></a>
          <a class="navItem" href="#"
            ><img
              class="pic-icon"
              src="/assets/images/image-mail-light.png"
              alt="mail"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-f3 bg-neutral-4 py-lg-11 py-5">
  <div class="container">
    <div class="col">
      <p class="fs-lg-7 fs-10 text-primary-1 text-center eng-font">
        Copyright @ Sip & Search 微醺指南
      </p>
    </div>
  </div>
</div>
