<!-- navbae背景跟第一區塊的背景圖相同 -->
<nav class="navbar navbar-expand-lg border-neutral-3 border-bottom py-lg-4">
  <!-- 這裡用圖片取代文字 -->
  <div class="container">
    <h1>
      <a class="navbar-brand ms-lg-9 ms-4" href="index.html">sip&search</a>
    </h1>
    <!-- 這邊是漢堡 -->
    <button
      class="navbar-toggler me-4"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- 目前先設定了hover樣式而已，感覺之後都能夠再修改 -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
        <li class="nav-item nav-custom-border">
          <a
            class="nav-link active text-primary-1 fs-lg-6 px-lg-7 py-lg-0 navItem"
            aria-current="page"
            href="recipessearch.html"
            >找酒譜</a
          >
        </li>
        <li class="nav-item b nav-custom-border">
          <a
            class="nav-link text-primary-1 fs-lg-6 px-lg-7 py-lg-0 navItem"
            href="barsearch.html"
            >找酒吧</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-primary-1 fs-lg-6 px-lg-7 py-lg-0 navItem"
            href="#"
            >最新活動</a
          >
        </li>
      </ul>
      <div class="log-custom-border">
        <a
          class="px-lg-9 py-lg-6 text-primary-1 d-block navItem fs-7"
          href="member-login.html"
        >
          註冊/登入
          <i class="bi bi-search text-primary-1"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
