@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0");

@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");

@import "../../node_modules/bootstrap/scss/functions";
@import "./utils/variables";
@import "./helpers/mixins.scss";
@import "../../node_modules/bootstrap";

$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
  )
);

@import "bootstrap/scss/utilities/api";

@import "./base/base";
@import "./base/font.scss";

@import "./layout/header.scss";
@import "./layout/footer.scss";

@import "/assets/scss/components/components";

@import "./pages/index.scss";
@import "./pages/wine-content.scss";
@import "./pages/barsearch";
@import "./pages/recipessearch";
@import "./pages/about";
@import "./pages/barcontent";

@import "./pages/memberarea";

@import "./pages/member-login";
@import "./pages/member-signup";
