//首頁按鈕
.btn-index {
  font-size: 24px;
  padding: 24px 40px;

  @media (max-width: 992px) {
    font-size: 12px;
    padding: 8px 12px;
  }
}

.btn-index-primary1 {
  color: $primary-1;
  background-color: $primary-3;
  transition: 0.5s;

  &:hover {
    color: $primary-3;
    background-color: $primary-1;

    .material-symbols-outlined {
      color: $primary-3;
    }
  }
}

.btn-index-primaryl-light {
  color: $primary-1;
  background-color: $primary-3;
  transition: 0.5s;

  &:hover {
    background-color: $primary-4;
  }
}

.btn-index-primaryl-transparent {
  color: $primary-1;
  background-color: transparent;
  border: 1px solid $primary-1;
  transition: 0.5s;

  &:hover {
    background-color: $primary-3;
  }
}

.index-brightness {
  color: $primary-1;

  &:hover {
    filter: brightness(50%);
    transition: 0.4s;
  }
}

.index-rounded-btn {
  background-color: $primary-1;
  padding: 6px 8px;

  &:hover {
    filter: brightness(80%);
    transition: 0.4s;
  }
}

.wineBtn-outline {
  color: $primary-3;
  background-color: transparent;
  border: 1px solid $primary-3;
  transition: 0.5s;

  &:hover {
    background-color: $primary-1;
    color: $primary-3;
  }

  &:active {
    background-color: $primary-3;
    color: $primary-1;
  }
}

.card-btn-primary-1 {
  color: $primary-4;
  background-color: $primary-1;
  transition: 0.5s;

  &:hover {
    background-color: $primary-1;
    color: $primary-3;
  }

  &:active {
    background-color: $primary-3;
    color: $primary-1;
  }
}

.cardBtn-primary-4 {
  color: #fbfbfb;
  background-color: $primary-4;
  transition: 0.5s;

  &:hover {
    background-color: $primary-3;
    color: #fbfbfb;
  }

  &:active {
    background-color: $primary-3;
    opacity: 0.8;
  }
}

.btn-rs-primary-3 {
  color: $primary-1;
  background-color: $primary-3;
  transition: 0.5s;

  &:hover {
    background-color: $primary-1;
    color: $primary-3;
  }

  &:active {
    background-color: $primary-3;
    color: $primary-1;
  }
}

.btn-rs-primary-4 {
  color: $primary-1;
  background-color: $primary-3;
  transition: 0.5s;

  &:hover {
    background-color: $primary-4;
    color: $primary-1;
  }

  &:active {
    background-color: $primary-3;
    color: $primary-1;
  }
}

// 酒譜卡片的十字架裝飾
$container-size: 32px;
$background-color: transparent;
$line-color: #b5650e;
$horizontal-length: 32px;
$vertical-length: 32px;
$line-thickness: 1px;

.cross-container {
  width: $container-size;
  height: $container-size;
  position: relative;
  background-color: inherit;
  margin-top: 40px;
  margin-left: 40px;

  .cross-line {
    position: absolute;
    background-color: $line-color;
  }

  .horizontal {
    width: $horizontal-length;
    height: $line-thickness;
  }

  .vertical {
    width: $line-thickness;
    height: $vertical-length;
  }

  .cross-1 {
    .horizontal {
      top: 50%;
      left: 100%;
    }

    .vertical {
      top: 50%;
      left: 100%;
    }
  }

  .cross-2 {
    .horizontal {
      top: 100%;
      left: 50%;
    }

    .vertical {
      top: 0;
      left: 150%;
    }
  }
}

@media (max-width: 992px) {
  .cross-container {
    width: 16px;
    height: 16px;
    position: relative;
    background-color: inherit;
    margin-top: 10px;
    margin-left: 10px;

    .cross-line {
      position: absolute;
      background-color: $line-color;
    }

    .horizontal {
      width: 16px;
      height: $line-thickness;
    }

    .vertical {
      width: $line-thickness;
      height: 16px;
    }
  }
}

//酒譜中的按紐元件、圖片
.cardImg {
  max-width: 192px;
  height: 250px;
  margin: 24px 16px 24px 16px;
  object-fit: cover;
}

.wineBtn {
  min-width: 33px;
  white-space: nowrap;
}

.cardBtn {
  position: absolute;
  bottom: 8%;
  right: 15%;
  min-width: 40px;
  //   min-height: 44px;
  height: 44px;
  padding: 10px;
}

.cardBtn-b {
  min-width: 80px;
  height: 80px;
}

.pageBtn {
  height: 32px;
  width: 32px;
  min-width: 0px;
}

//酒譜中的卡片hover
.card-container {
  position: relative;
  width: 100%;
  height: 536px;
}

.card,
.card-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  backface-visibility: hidden;
}

.card {
  background-color: lightblue;
  transform: translateY(0);
}

.card-hover {
  background-color: #fbfbfb;
  opacity: 0;
  transform: translateY(150px);
}

.card-hoverImg {
  height: 180px;
  object-fit: cover;
}

.card-container:hover .card {
  opacity: 0;
  transform: translateY(-150px);
}

.card-container:hover .card-hover {
  opacity: 1;
  transform: translateY(0);
}

.cardImg-hover {
  max-width: 128px;
}

//喜愛與收藏區的圖片漸層border
.img-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 73%;
  padding: 3px;
  /* 為邊框創造空間 */
}

.img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #ffc93d 0%, #b5650e 100%);
  border-top-left-radius: 50rem;
  border-top-right-radius: 50rem;
  z-index: -1;
}

.img-gradient-border {
  display: block;
  border-top-left-radius: 50rem;
  border-top-right-radius: 50rem;
}

//modal的裝飾
.modal-border-primary-1 {
  border: 1px solid $primary-1;
  margin: 40px;
}

//響應式
@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .wineBtn {
    min-width: 37px;
  }

  .section-rs2 {
    .card-container {
      height: 420px;
    }

    .cardImg {
      max-width: 128px;
      height: 190px;
      margin: 24px 16px 24px 16px;
      object-fit: cover;
    }
  }

  .section-rs3 {
    .img-container {
      margin-bottom: 8px;
    }
  }
}

//酒吧搜尋頁標籤
.sectionPopularBars .tag,
.section-unique-bars .tag,
.section-barContent .tag,
.section-similar-bars .tag {
  padding: 12px 24px;
  font-size: 24px;
  border-radius: 1000px;
}

@media (max-width: 768px) {
  .sectionPopularBars .tag,
  .section-unique-bars .tag,
  .section-barContent .tag,
  .section-similar-bars .tag {
    padding: 4px 8px;
    font-size: 16px;
  }
}
