.navbar {
  height: 104px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  h1 {
    a {
      background-image: url(/assets/images/image.png);
      width: 104px;
      height: 55px;
      background-size: contain;
      background-repeat: no-repeat;
      display: block; /*將a連結轉成block*/
      /*接下來三行把a連結中的文字拿掉*/
      text-indent: 101%; /*縮排功能*/
      overflow: hidden; /*超出區塊隱藏*/
      white-space: nowrap; /*如何處置空白元素*/
    }
  }

  body {
    .bg-body-tertiary {
      background-color: var(--bs-tertiary-bg);
      opacity: 0;
    }
  }
  // .navbar-toggler-icon {
  //   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='#ECDEC3'%3E%3Cpath stroke='#ECDEC3' d='M3 6h24M3 12h24M3 18h24'/%3E%3C/svg%3E");
  // }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ECDEC3' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navItem {
    opacity: 1;
  }
  .navItem:hover {
    opacity: 0.6;
  }

  .nav-custom-border {
    border-right: 1px solid #ecdec3;
  }
  .log-custom-border {
    display: flex;
    align-items: center;
    border-left: 1px solid #7f7973;
    border-right: 1px solid #7f7973;
    height: 104px;
    margin-bottom: -16px;
    margin-top: -16px;
  }
}

@media (max-width: 992px) {
  .navbar {
    .nav-custom-border,
    .log-custom-border {
      border: none;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    h1 {
      a {
        width: 70px;
        height: 36px;
        // background-size: contain;
        display: block; /*將a連結轉成block*/
      }
    }
    .custom-class .border-end {
      border: 0px solid red;
    }
  }
}
