// 定義變數
$large: 768px;
$large: 992px;
$x-large: 1200px;

@mixin respond-to($size) {
  @media (max-width: $size) {
    @content;
  }
}

.section-bf1 {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 660px;
  background-image: url(/assets/images/barsearch/bar-search-banner.png);
  background-size: cover;
  // margin-top: -104px;
  // padding-top: 104px;
  @include respond-to(large) {
    height: 720px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }

  .banner-bf {
    padding-top: 330px;
    .input-group {
      margin: auto;
      max-width: 729px;
      border: 1px solid $primary-1;
      position: relative;
      z-index: 3;
      @include respond-to(large) {
        max-width: 400px;
      }

      .form-control {
        background-color: transparent;
        padding: 24px;
        border: none;
        color: $primary-1;
        @include respond-to(large) {
          padding: 12px;
        }

        &::placeholder {
          color: $primary-2;
          font-size: 24px;
          @include respond-to(large) {
            font-size: 16px;
          }
        }

        &:focus {
          background: transparent;
          border-color: $primary-1;
        }
      }
    }
  }
}

// banner區塊
// .section-bar-search-banner {
//   // border: 1px solid red;
//   padding: 284px 0 100px;
//   background-size: cover;
//   background-position: center;

//   @include respond-to($medium) {
//     padding: 160px 0 76px;
//   }

//   .container {
//     padding: 24px 0;

//     @include respond-to($medium) {
//       padding: 0;
//     }

//     .main-content {
//       // display: flex;
//       // justify-content: center;
//       .input-group {
//         max-width: 382px;

//         @include respond-to($medium) {
//           max-width: 200px;
//         }

//         .form-control {
//           background: transparent;
//         }

//         .form-control:focus,
//         .form-control:focus + .input-group-text {
//           border-color: $primary-3;
//           // box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); /* 藍色陰影效果 */
//           box-shadow: none;
//         }
//       }

//       .search-input {
//         border-right: none;

//         &::placeholder {
//           color: $primary-1;
//           font-size: 24px;

//           @include respond-to($medium) {
//             font-size: 12px;
//           }
//         }
//       }

//       .input-group-text {
//         color: $primary-1;
//         font-size: 36px;
//         background-color: transparent;
//         border-left: none;
//         cursor: pointer;
//       }
//     }

//     .modal {
//       .modal-dialog {
//         max-width: 576px;
//       }

//       .modal-body {
//         background-color: $neutral-5;
//         padding: 24px 40px;
//         max-width: 596px;

//         .area {
//           background-color: $primary-2;
//           padding: 6px 18px;
//           font-size: 24px;
//         }

//         .city-list,
//         .other-list {
//           display: flex;
//           flex-wrap: wrap;
//           gap: 16px;

//           .city-item,
//           .other-item {
//             display: block;
//             padding: 8px 24px;
//             font-size: 20px;
//             background-color: transparent;
//             border: 1px solid $primary-1;
//             border-radius: 100px;
//             cursor: pointer;
//             transition: 0.4s;

//             &:hover {
//               background-color: $primary-1;
//               color: $neutral-5;
//               border: 1px solid $neutral-5;
//             }

//             &.selected {
//               background-color: $primary-3;
//               color: $primary-1;
//               border: 1px solid $primary-3;
//             }
//           }
//         }
//       }
//     }

//     #selected-tags {
//       max-width: 730px;
//       min-height: 50px;
//       display: flex;
//       gap: 4px;
//       flex-wrap: wrap;

//       .selected-tag {
//         display: flex;
//         align-items: center;

//         padding: 8px 24px;
//         font-size: 20px;
//         border-radius: 100px;
//         cursor: pointer;
//         background-color: $primary-1;
//         color: $neutral-5;
//         border: 1px solid $neutral-5;

//         .material-symbols-outlined {
//           font-size: 20px;
//         }
//       }
//     }

//     .selected-tags {
//       .selected-tag {
//         display: block;
//         padding: 8px 24px;
//         font-size: 20px;
//         border-radius: 100px;
//         cursor: pointer;
//         background-color: $primary-1;
//         color: $neutral-5;
//         border: 1px solid $neutral-5;
//       }
//     }
//   }

//   h1 {
//     margin: 24px 0;

//     @include respond-to($large) {
//       margin-top: 0;
//     }
//   }
// }

.section-bar-search-filter {
  .btn-outline-primary-3:hover {
    color: #ecdec3;
  }

  .scrollBar::-webkit-scrollbar {
    display: none;
  }

  .border-lg {
    border: 1px solid #b5650e;
    border-radius: 50rem;
    @include respond-to($large) {
      border: none;
    }
  }
  .scroll-control {
    all: unset; /* 移除所有預設樣式 */
    display: flex; /* 確保按鈕仍然可以點擊 */
    align-items: center;
    cursor: pointer; /* 保持可點擊狀態 */
  }
}

.bar-card {
  & img {
    position: absolute;
    width: 376px;
    height: 400px;
    object-fit: cover;
    @include respond-to($x-large) {
      width: 300px;
      height: 300px;
    }
    @include respond-to($medium) {
      width: 169px;
      height: 280px;
    }
  }
  .card-body {
    position: relative;
    width: 376px;
    height: 400px;
    @include respond-to($x-large) {
      position: relative;
      width: 300px;
      height: 300px;
    }
    @include respond-to($medium) {
      position: relative;
      width: 169px;
      height: 280px;
    }
  }
}

.section-bar-search-result {
  .btn-size {
    width: 48px;
    height: 48px;
  }
  .custom-padding {
    margin-right: -12px;
    @include respond-to($large) {
      margin-right: 0;
    }
  }
}

.material-symbols-outlined:hover,
.material-symbols-outlined:active {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  transition: 0.5s;
  cursor: pointer;
}
