// 定義變數
@mixin responsive-columns($desktop: 4, $tablet: 3, $mobile: 1) {
  display: grid;
  grid-template-columns: repeat($desktop, 1fr);

  @media (max-width: 992px) {
    grid-template-columns: repeat($tablet, 1fr);
    grid-auto-rows: 200px;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat($mobile, 1fr);
    grid-auto-rows: 500px;
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat($mobile, 1fr);
  }
}

$medium: 768px;
$large: 992px;
$x-large: 1200px;

@mixin respond-to($size) {
  @media (max-width: $size) {
    @content;
  }
}

.section-breadcrumb {
  background-color: $dark-brown;
  padding-top: 120px;
  padding-bottom: 0;
  margin-bottom: 30px;
  color: $primary-1;
  @include respond-to($medium) {
    padding-top: 80px;
    margin-bottom: 20px;
  }
  .breadcrumb-item {
    a {
      opacity: 1;
      transition: 0.4s;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.section-barContent {
  color: $primary-1;
  padding: 0;
  .main-title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 16px;
    @include respond-to($medium) {
      display: block;
      text-align: center;
    }
    .icon-list {
      display: flex;
      gap: 16px;
      @include respond-to($medium) {
        justify-content: center;
      }
      span {
        font-size: 28px;
        color: $primary-1;
        @include respond-to($large) {
          font-size: 24px;
        }
      }
      .icon-item {
        display: flex;
        align-items: center;
      }
    }
    .material-symbols-outlined {
      // color: #fff;
      vertical-align: middle;
      &:hover {
        font-variation-settings: "FILL" 1;
      }
    }
  }

  .tags {
    display: flex;
    gap: 16px;
    margin: 20px 0;
    @include respond-to($medium) {
      justify-content: center;
      margin: 16px 0;
    }
    .tag {
      background-color: transparent;
      color: $primary-1;
      border: 1px solid $primary-1;
      transition: 0.4s;
      &:hover {
        background-color: $primary-3;
      }
    }
  }

  .bar-pic-list {
    @include responsive-columns;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 320px;
    grid-auto-flow: dense;
    gap: 20px;
    .pic-item {
      cursor: pointer;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        scale: 1;
        transition: 0.5s;
      }
      &:nth-child(3n + 1) {
        grid-column-end: span 2;
        grid-row-end: span 2;

        @media (max-width: 768px) {
          grid-column-end: span 1;
          grid-row-end: span 1;
        }
      }
      &::before {
        content: "";
        position: absolute;
        background-color: #00000050;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: 0.4s;
      }
      &:hover::before {
        opacity: 1;
      }
      &:hover img {
        scale: 1.1;
        @include respond-to($large) {
          scale: 1;
        }
      }
    }
  }
}

.section-about {
  padding-block: 60px;
  @include respond-to($large) {
    padding-block: 10px;
  }
  .txt {
    color: $primary-1;
    width: 55%;
    position: relative;
    z-index: 2;
    @include respond-to($large) {
      width: 100%;
    }
    h3 {
      background-color: $primary-4;
      padding: 0.5em;
      display: flex;
      align-items: center;
      &::after {
        content: "";
        height: 2px;
        background-color: currentColor;
        flex-grow: 1;
        margin-left: 10px;
      }
    }
    .bar-intro {
      background-color: #0006;
      font-size: 28px;
      padding: 1em;
      position: absolute;
      line-height: 2;
      @include respond-to($large) {
        position: relative;
        font-size: 22px;
      }
    }
  }
  .pic {
    width: 75%;
    margin-left: auto;
    z-index: 1;
    @include respond-to($large) {
      width: 100%;
    }
  }
}

.section-activity {
  padding-block: 60px;
  @include respond-to($large) {
    padding-block: 10px;
  }
  .txt {
    color: $primary-1;
    width: 40%;
    margin-left: auto;
    position: relative;
    z-index: 2;
    @include respond-to($large) {
      width: 100%;
    }
    h3 {
      background-color: $primary-4;
      padding: 0.5em;
      display: flex;
      align-items: center;
      &::after {
        content: "";
        height: 2px;
        background-color: currentColor;
        flex-grow: 1;
        margin-left: 10px;
      }
    }
    .activity-intro {
      background-color: #0006;
      font-size: 28px;
      padding: 1em;
      position: absolute;
      line-height: 2;
      @include respond-to($large) {
        position: relative;
        font-size: 22px;
      }
    }
  }
  .pic {
    width: 75%;
    margin-right: auto;
    z-index: 1;
    @include respond-to($large) {
      width: 100%;
    }
  }
}

.section-contact {
  color: $primary-1;
  padding-block: 60px;
  @include respond-to($large) {
    padding-block: 10px;
  }
  .container {
    display: flex;
    gap: 20px;
    @include respond-to($large) {
      flex-direction: column;
      gap: 10px;
    }
    .pic {
      width: 50%;
      @include respond-to($large) {
        width: auto;
      }
    }
    .txt {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .title {
        background-color: $primary-3;
        padding: 0.75em;
      }
      .contact-detail {
        font-size: 24px;
        padding-inline: 2em;
        flex-grow: 1;
        margin: auto;
        @include respond-to($large) {
          font-size: 20px;
        }
        .location,
        .tel {
          display: flex;
          align-items: center;
        }
        .material-symbols-outlined {
          margin-right: 4px;
        }
      }
      .opentimes {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        font-size: 24px;
        @include respond-to($large) {
          font-size: 20px;
        }
      }
      .week-item + .week-item {
        margin-top: 4px;
      }
      .opentimes-item + .opentimes-item {
        margin-top: 4px;
      }
    }
  }
}
.section-bar-comment {
  padding-block: 60px;
  @include respond-to($large) {
    padding-block: 10px;
  }
  .container {
    padding: 80px;
    color: $primary-4;
    font-size: 24px;
    background-color: $primary-1;
    background-image: linear-gradient(#0001, #0001);
    @include respond-to($large) {
      padding: 20px;
    }
    .user-item {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .user-comment {
      position: relative;
      margin-block: 16px;
      textarea {
        width: 100%;
        resize: none;
        vertical-align: bottom;
        padding: 24px;
        &::placeholder {
          font-size: 20px;
        }
      }
      .icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 12px;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    .grid-item {
      display: grid;
      grid-template-columns: 200px 1fr;
      gap: 20px;
      margin-block: 28px;
      @include respond-to($large) {
        grid-template-columns: repeat(1, 1fr);
      }
      .user-past-comment {
        color: $primary-1;
        background-color: $primary-3;
        padding: 0.5em;
        border-radius: 15px;
        // background-image: linear-gradient($primary-1 0%,$primary-3 100%);
      }
    }
  }
}

.section-similar-bars {
  padding: 60px 0 120px;
  color: $primary-1;
  @include respond-to($large) {
    padding: 10px 0 30px;
  }
  .similar-bars-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include respond-to($large) {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
    .similar-bars-item {
      min-height: 600px;
      background-position: center;
      background-size: cover;
      position: relative;
      @include respond-to($large) {
        min-height: 450px;
      }
      .txt {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .bar-name {
          text-align: center;
          margin-bottom: 16px;
          padding-block: 0.5em;
        }
        .bar-intro {
          margin: auto;
          font-size: 24px;
          padding-inline: 20px;
          transition: 0.5s;
        }
        .tags {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          margin-top: auto;
          margin-bottom: 16px;
          .tag {
            background-color: $primary-3;
            background-image: linear-gradient(#0002, #0005);
          }
        }
        .button {
          display: inline-block;
          border-radius: 100px;
          background-color: transparent;
          border: 1px solid $primary-1;
          color: $primary-1;
          font-size: 24px;
          padding: 1em 1.5em;
          position: absolute;
          left: 50%;
          bottom: 50%;
          transform: translate(-50%, calc(50% + 500px));
          transition: 0.5s;
          @include respond-to($large) {
            display: none;
          }
          &:hover {
            background-color: $primary-4;
          }
        }

        &:hover .button {
          transform: translate(-50%, 50%);
        }
        &:hover .bar-intro {
          opacity: 0;
          @include respond-to($large) {
            opacity: 1;
          }
        }
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #0000;
        transition: 0.5s;
      }
      &:hover::before {
        background-color: #0005;
      }
    }
  }
}
