// 定義變數
$medium: 768px;
$large: 992px;
$x-large: 1200px;

@mixin respond-to($size) {
  @media (max-width: $size) {
    @content;
  }
}

// *, *::after, *::before {
//   outline: #06a555 1px solid;
// }

//將title-bg往下推：104(navbar高度)+58(間距)

.title-bg {
  padding-top: 162px;
  padding-bottom: 58px;
  
  @include respond-to($medium) {
    padding-top: 140px;//含104(navbar高度
  }
}

.section-member-content{
  border-top: 1px solid $neutral-3;
  padding-top: 40px;
  padding-bottom: 80px;

  //左側功能選單
  .member-nav-list{
    text-align: left;
    display: flex;
    flex-direction: column;
    @include respond-to($large) {
      flex-direction: row;
      //text-align: center;
      //padding: 0px 20px;
    }
    @include respond-to($medium) {
      flex-direction: row;
      //text-align: center;
      
      
    }
   
    //讓swiper預設箭頭消失
    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }
   
      /* 右箭頭靠右邊距離 */
    .swiper-button-next {
      right: 10px;
      
    }

    /* 左箭頭靠左邊距離 */
    .swiper-button-prev {
      left: 10px;
    }

  }
  .member-nav-item{
    padding: 16px 12px;
    justify-content: flex-start;
    &:hover {
      color: $primary-3;
    }
    @include respond-to($medium) {
      //width: 25%;
      
      
    }
  }
  
  //當onClick事件觸發，套用此樣式
  .nav-item-active {
    background-color: $primary-3;
    color: $primary-1;
    &:hover {
      background-color: $primary-1;
      color: $primary-3;
    }
  }
  
  .member-noti-count{
    width: 30px;
    height: 30px;
    text-align: center;
    display: block;
    background: $primary-4;
    border-radius: 50%;
    @include respond-to($large) {
      width: 25px;
      height: 25px;
    }
    @include respond-to($medium) {
      width: 20px;
      height: 20px;
    }
  }
  .member-logout-link{
    border-top: 1px solid $neutral-3;
  }
  // 手機版登出按鈕
  .logout-mobile-btn {
    margin-top: 40px;
    text-align: center;
  }

  .btn-logout {
    color: $primary-1;
    padding: 8px 0;
    border: 1px solid $neutral-3;
    font-size: 12px;
    width: 120px;
    &:hover {
      background-color: $primary-3;
    }
    &:active {
      background-color: $primary-4;
    }
  }


  //右側功能內容
  .profile-header{
    margin-top: 48px;
    margin-bottom: 48px;
    @include respond-to($medium) {
      margin-top: 24px;
      margin-bottom: 24px;
    }

  }
  .profile-avatar-img{
    border-radius: 50%;
    width: 128px;
    height: 120px;
    @include respond-to($medium) {
      width: 72px;
    height: 72px;
    }
  }
  .profile-img-link{
    text-align: center;
    padding: 8px;
    background: $primary-4;
    border: 4px solid $neutral-5;
    border-radius: 50%;
    // left: 80px;
    // top: 72px;
    bottom: -5px;
    right: 0px;
    @include respond-to($medium) {
      padding: 2px;
      border: 2px solid $neutral-5;
    }

  }
  .profile-img-icon{
    @include respond-to($medium) {
      font-size: 20px;
    }
  }

  //會員頭像
  .profile-avatar-img {
    width: 120px;
    height: 120px;
  
    @include respond-to($large) {
      width: 100px;
      height: 100px;
    }
  
    @include respond-to($medium) {
      width: 72px;
      height: 72px;
    }
  }

  
  //個人檔案編輯按鈕
  .profile-edit-btn {
    display: block;
    color: $primary-1;
    background-color: $primary-3;
    transition: 0.5s;
    padding: 12px 20px;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #ffc93d, #b5650e) 1;
    @include respond-to($medium){
      padding: 8px 12px;
    }

    &:hover {
      background-color: $primary-1;
      color: $primary-3;
    }

    &:active {
      background-color: $primary-3;
      color: $primary-1;
    }
  }
  .section-title{
    padding: 16px 20px;
    background-color: $primary-2;
    @include respond-to($medium){
      padding: 8px;
    }

  }
  .setting-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 48px;
    
  }

  .setting-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $neutral-3;
    padding: 12px 20px;
    @include respond-to($medium){
      padding: 8px;
      gap: 32px;
    }
  } 
  .setting-link{
    white-space: nowrap;
    color: $primary-1;
    &:hover {
      color: $primary-3;
    }
  }  
}

// toggle 組件測試樣式
.btn-box {
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 100px;
  background-color: gray;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: lighten(gray, 20%);
  }

  .btn-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    transition: margin-left 0.3s, transform 0.3s;
     //margin-left: 0;
  }
}

// 隱藏 checkbox
.email-noti-toggle {
  position: absolute;
  opacity: 0;

  // 勾選後改變 btn-box 背景色
  &:checked + .btn-box {
    background-color: $primary-3;

    // 勾選後移動 .btn-item + 放大效果
    .btn-item {
      margin-left: 20px;
      transform: scale(1.1); // 點擊時通知球體變大為 1.1 倍
    }
  }
}

// label 樣式
.setting-toggle-label {
  display: inline-block;
}

