*,
::after,
*::before {
  //outline: 1px solid rgb(110, 131, 5);
}


.wine-content-title {
  margin-bottom: 120px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .wine-content-methods {
    flex-direction: column;
  }
}

.methods-item-1 {
  max-width: 447px;
  @media (max-width: 768px) {
    margin: 0 auto;
    max-width: 237px;
  }
  &-img {
    @media (max-width: 768px) {
      height: 285px;
    }
  }
}

.methods-icon {
  width: 100%;
  padding: 24px 16px;
  gap: 32px;
  justify-content: center;
  margin-bottom: 0px;
  @media (max-width: 768px) {
    gap: 4px;
    padding: 14px 24px;
  }
  &-btn {
    width: 40px;
    //height: 42px;
    text-align: center;
    font-size: 36px;
    @media (max-width: 768px) {
      font-size: 12px;
      width: 16px;
      margin-right: 4px;
    }
    &:hover {
      font-variation-settings: "FILL" 1;
    }
  }

  &-item {
    align-items: center;
    gap: 12px;
    @media (max-width: 768px) {
      gap: 0px;
      width: 100%;
    }
    & p {
      line-height: 1;
    }
  }
}

//.methods-icon-item p{
//line-height: 1;
//}

.wine-content-methods {
  gap: 96px;
}

.methods-tags {
  gap: 24px;
  @media (max-width: 768px) {
    gap: 8px;
  }
}

.btn-tags {
  display: block;
  border: 1px solid $primary-3;
  background: #2e2828;
  padding: 8px 24px;
  border-radius: 100px 100px 100px 100px;
  @media (max-width: 768px) {
    padding: 4px 8px;
  }
  &:hover{
    background:$primary-1;
  }
}

.methods-item-2 {
  max-width: 753px;
  &-step {
    border: 1px solid $primary-3;
    //position: relative;
    &-title {
      width: 228px;
      background: $primary-3;
      //position: absolute;
      @media (max-width: 768px) {
        width: 130px;
      }
    }
    &-content {
      list-style-position: inside;
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 0px;
      & li {
        list-style: disc;
      }
    }
  }
}

//品酒討論區

.wine-comments {
  padding: 120px 0px;
  @media (max-width: 768px) {
    padding: 40px 0px;
  }
  & img {
    width: 80px;
    height: 80px;
    @media (max-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }
}

//使用者信息區塊 
.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
}

.avatar {
  width: 80px;
  height: 80px;
}

//留言框區塊 
.comments-box {
  border: 1px solid $primary-3;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  & textarea {
    /* 留言輸入框設置 */
    width: 100%;
    height: 100%;
    border-radius: 5px;
    //border: none; //隱藏留言框線
    resize: none; //隱藏留言框下拉圖示
    //outline: 1px solid $primary-4; //隱藏點擊時的框線
    padding: 10px;
    font-size: 20px; //手機12px
    color: #888;
    display: flex; //讓留言框和父層高度一致
  }
  &-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  &-char-count {
    font-size: 12px;
    color: #b0a394;
  }
  &-submit-btn {
    background: none;
    height: 100%;
    border: none;
    color: #9b5b34;
    &:hover {
      color: $primary-4;
    }
  }
}

//

.wine-comments-list {
  flex-direction: column;
  gap: 40px;
  margin-top: 48px;
  margin-bottom: 72px;
  
  &-area {
    background: $primary-3;
    padding: 12px 24px;
    border-radius: 20px;
  }
  &-item {
    //display: flex;
    gap: 20px;
    color: $neutral-1;
    flex-direction: row;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: start;
    }
  }
  &-info{
    gap: 20px;
    @media (max-width: 768px) {
      gap: 8px;
    }
  }


  &-area {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &-date {
    display: none;
    @media (max-width: 768px) {
      display: inline-block;
    }
  }
}

.wine-comments-btn {
  color: $primary-4;
  &:hover {
    opacity: 0.6;
  }
  //&:active {
    //color: $neutral-3;
  //}
}

// 第三區 -推薦酒譜


.special-list{
 
  .card-container{
      @media (max-width: 768px) {
      height: 420px;
  }
  
}
  .cardImg {
    @media (max-width: 768px) {
    max-width: 128px;
    height: 190px;
    margin: 24px 16px 24px 16px;
    object-fit: cover;
  }
}

&-card-bg {
  background: $primary-4;
}

&-btn {
  color: $primary-1;
  &:hover {
    opacity: 0.6;
  }
  //&:active {
    //color: $neutral-3;
  //}
}
&-material-symbols-outlined{
  color: $primary-4;
}

}

.scrollBar::-webkit-scrollbar {
  display: none;
}
