<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>barfinder</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- 第一區塊 -->
    <section
      class="section section-bar-search-banner text-center text-primary-1"
      style="
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.6)
          ),
          url(../assets/images/barsearch/bar-search-banner.png);
      "
    >
      <div class="container">
        <div class="main-title mb-6 mb-md-11">
          <h1 class="fs-7 fs-md-5">尋找你周圍最棒的酒吧</h1>
        </div>
        <div class="main-content text-primary-1">
          <div class="input-group mx-auto mb-5">
            <input
              type="text"
              class="form-control p-2 py-md-3 px-md-6 search-input"
              placeholder="立即搜尋"
              aria-label="Search"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            />
            <span
              class="input-group-text material-symbols-outlined fs-8 fs-md-5"
            >
              search
            </span>
          </div>
          <div id="selected-tags" class="d-flex flex-wrap mx-auto"></div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  你想找哪兒的酒吧
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body text-primary-1">
                <div class="region mb-6">
                  <div class="area text-start mb-5">北部</div>
                  <div class="city-list">
                    <span class="city-item">台北市</span>
                    <span class="city-item">新北市</span>
                    <span class="city-item">基隆市</span>
                    <span class="city-item">桃園市</span>
                    <span class="city-item">新竹市</span>
                    <span class="city-item">新竹縣</span>
                  </div>
                </div>
                <div class="region mb-6">
                  <div class="area text-start mb-5">中南部</div>
                  <div class="city-list">
                    <span class="city-item">台中市</span>
                    <span class="city-item">苗栗縣</span>
                    <span class="city-item">彰化縣</span>
                    <span class="city-item">南投縣</span>
                    <span class="city-item">雲林縣</span>
                    <span class="city-item">台南市</span>
                    <span class="city-item">高雄市</span>
                    <span class="city-item">嘉義市</span>
                    <span class="city-item">屏東縣</span>
                  </div>
                </div>
                <div class="region mb-6">
                  <div class="area text-start mb-5">東部</div>
                  <div class="city-list">
                    <span class="city-item">宜蘭縣</span>
                    <span class="city-item">花蓮縣</span>
                    <span class="city-item">台東縣</span>
                  </div>
                </div>
                <div class="region mb-6">
                  <div class="area text-start mb-5">其他</div>
                  <div class="other-list">
                    <span class="other-item">可訂位</span>
                    <span class="other-item">2~3人</span>
                    <span class="other-item">4~6人</span>
                    <span class="other-item">6人以上</span>
                    <span class="other-item">有包廂</span>
                    <span class="other-item">停車場</span>
                    <span class="other-item">可刷卡</span>
                    <span class="other-item">不限時</span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-light fs-7 rounded-pill"
                  data-bs-dismiss="modal"
                >
                  關閉
                </button>
                <button
                  type="submit"
                  class="btn btn-outline-light fs-7 rounded-pill"
                  data-bs-dismiss="modal"
                  id="addTagsBtn"
                >
                  儲存變更
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-bar-search-filter">
      <div class="container">
        <div class="row px-lg-0 px-6 mb-6">
          <div class="col-12 mt-lg-11 mt-10">
            <div
              class="row align-items-center justify-content-between mb-lg-9 mb-6"
            >
              <div class="col-2 col-lg-1">
                <h5 class="text-primary-1 fs-8 fs-lg-7 pe-lg-4">地點</h5>
              </div>
              <div class="col-10 col-lg-11 g-0">
                <div
                  class="border-lg py-lg-3 d-flex justify-content-between align-items-center"
                >
                  <a
                    href="javascript:void(0);"
                    class="scroll-control"
                    id="scroll-left-btn"
                  >
                    <span
                      class="material-symbols-outlined text-primary-3 ps-lg-10 fs-6 d-flex align-items-center"
                    >
                      arrow_back_ios
                    </span>
                  </a>

                  <div
                    class="overflow-x-scroll scrollBar scroll-container"
                    id="scroll-container"
                  >
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Basic outlined example"
                    >
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        基隆市
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        新北市
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        臺北市
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        桃園市
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        新竹縣
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        新竹市
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        苗栗縣
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        苗栗市
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        臺中市
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        彰化縣
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        南投縣
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        雲林縣
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        嘉義縣
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        嘉義市
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        臺南市
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        高雄市
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        屏東縣
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        臺東縣
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        花蓮縣
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        宜蘭縣
                      </button>
                    </div>
                  </div>

                  <a
                    href="javascript:void(0);"
                    class="scroll-control"
                    id="scroll-right-btn"
                  >
                    <span
                      class="material-symbols-outlined text-primary-3 ps-lg-4 pe-lg-10 fs-6 d-flex align-items-center"
                    >
                      arrow_forward_ios
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="row align-items-center mb-lg-9 mb-3">
              <div class="col-lg-1 col-2 mb-6">
                <h5 class="text-primary-1 fs-8 fs-lg-7">酒吧類型</h5>
              </div>
              <div class="col-lg-5 col-10 g-0 mb-6">
                <div
                  class="border-lg py-lg-3 d-flex justify-content-between align-items-center"
                >
                  <a
                    href="javascript:void(0);"
                    class="scroll-control"
                    id="scroll-left-btn-1"
                    ><span
                      class="material-symbols-outlined text-primary-3 ps-lg-10 fs-6 d-flex align-items-center"
                    >
                      arrow_back_ios
                    </span></a
                  >

                  <div
                    class="overflow-x-scroll scrollBar scroll-container"
                    id="scroll-container-1"
                  >
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Basic outlined example"
                    >
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        音樂
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        特色
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        日式
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        複合
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        運動
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        運動
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        運動
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        運動
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        運動
                      </button>
                    </div>
                  </div>

                  <a
                    href="javascript:void(0);"
                    class="scroll-control"
                    id="scroll-right-btn-1"
                    ><span
                      class="material-symbols-outlined text-primary-3 ps-lg-4 pe-lg-10 fs-6 d-flex align-items-center"
                    >
                      arrow_forward_ios
                    </span></a
                  >
                </div>
              </div>
              <div class="col-lg-1 col-2 mb-6">
                <h5 class="text-primary-1 fs-8 fs-lg-7">單人均消</h5>
              </div>
              <div class="col-lg-5 col-10 g-0 mb-6">
                <div
                  class="border-lg py-lg-3 d-flex justify-content-between align-items-center"
                >
                  <a
                    href="javascript:void(0);"
                    class="scroll-control"
                    id="scroll-left-btn-2"
                    ><span
                      class="material-symbols-outlined text-primary-3 ps-lg-10 fs-6 d-flex align-items-center"
                    >
                      arrow_back_ios
                    </span></a
                  >

                  <div
                    class="overflow-x-scroll scrollBar scroll-container"
                    id="scroll-container-2"
                  >
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Basic outlined example"
                    >
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        $300內
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        $300 ~ $400
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        $400 ~ $500
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        $500 ~ $600
                      </button>
                      <button
                        type="button"
                        class="wineBtn wineBtn-outline rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1"
                      >
                        $600以上
                      </button>
                    </div>
                  </div>

                  <a
                    href="javascript:void(0);"
                    class="scroll-control"
                    id="scroll-right-btn-2"
                    ><span
                      class="material-symbols-outlined text-primary-3 ps-lg-4 pe-lg-10 fs-6 d-flex align-items-center"
                    >
                      arrow_forward_ios
                    </span></a
                  >
                </div>
              </div>
            </div>
            <div class="row mb-lg-11 justify-content-between">
              <div class="col ms-lg-14">
                <div role="group" aria-label="Basic outlined example">
                  <button
                    type="button"
                    class="btn active btn-outline-primary-3 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-primary-1 text-nowrap"
                  >
                    臺北市<span
                      class="material-symbols-outlined align-middle fs-10 fs-lg-6 ms-3"
                    >
                      close
                    </span>
                  </button>
                  <button
                    type="button"
                    class="btn active btn-outline-primary-3 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-primary-1 text-nowrap"
                  >
                    特色<span
                      class="material-symbols-outlined align-middle fs-10 fs-lg-6 ms-3"
                    >
                      close
                    </span>
                  </button>
                  <button
                    type="button"
                    class="btn active btn-outline-primary-3 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-primary-1 text-nowrap"
                  >
                    $300內<span
                      class="material-symbols-outlined align-middle fs-10 fs-lg-6 ms-3"
                    >
                      close
                    </span>
                  </button>
                </div>
              </div>

              <div class="col d-flex align-items-center justify-content-end">
                <h8 class="text-primary-1 me-lg-6 me-3 ms-10 fs-lg-8 fs-10"
                  >清除所有條件</h8
                >
                <h8 class="text-white me-lg-4 d-none d-md-block"> 排序：</h8>
                <h8 class="text-white me-lg-4 me-3 d-none d-md-block"
                  ><a href="#">熱門程度</a></h8
                >
                <h8
                  class="text-neutral-3 border-0 border-start border-neutral-3 ps-lg-4 d-none d-md-block"
                  ><a href="#">按讚數</a></h8
                >
              </div>
              <div class="custom-list-rs d-md-none d-flex justify-content-end">
                <div class="dropdown">
                  <button
                    class="btn btn-secondary dropdown-toggle bg-transparent border-0"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    排序
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item text-white" href="#">熱門程度</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-white" href="#">按讚數</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-bar-search-result">
      <div class="container mt-lg-11">
        <div class="search-result mb-lg-11 d-flex justify-content-start">
          <h5 class="text-primary-1 pe-lg-6">搜尋結果</h5>
          <p class="fs-lg-7 text-primary-1">共39筆</p>
        </div>
        <div class="row row-cols-2 row-cols-lg-3 gy-lg-9 gy-6 ps-lg-11 mb-lg-9">
          <div class="col bar-card">
            <img src="/assets/images/barfinder/image1.png" alt="img1" />
            <div
              class="card-body px-lg-9 d-flex flex-column justify-content-between pb-lg-9"
            >
              <div class="d-flex justify-content-between pt-lg-11">
                <p class="card-title fs-lg-7 text-primary-1">
                  貓下去敦北俱樂部
                </p>
                <span
                  class="material-symbols-outlined text-primary-1 fs-9 fs-lg-6"
                >
                  favorite
                </span>
              </div>
              <div>
                <p class="card-text text-primary-1 pb-lg-3">
                  令人放鬆的餐館，供應麵食與台式牛排等在地美食，以及葡萄酒和啤酒。
                </p>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  臺北市
                </button>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  可供訂位
                </button>
              </div>
            </div>
          </div>
          <div class="col bar-card">
            <img src="/assets/images/barfinder/image1.png" alt="img1" />
            <div
              class="card-body px-lg-9 d-flex flex-column justify-content-between pb-lg-9"
            >
              <div class="d-flex justify-content-between pt-lg-11">
                <p class="card-title fs-lg-7 text-primary-1">
                  貓下去敦北俱樂部
                </p>
                <span
                  class="material-symbols-outlined text-primary-1 fs-9 fs-lg-6"
                >
                  favorite
                </span>
              </div>
              <div>
                <p class="card-text text-primary-1 pb-lg-3">
                  令人放鬆的餐館，供應麵食與台式牛排等在地美食，以及葡萄酒和啤酒。
                </p>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  臺北市
                </button>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  可供訂位
                </button>
              </div>
            </div>
          </div>
          <div class="col bar-card">
            <img src="/assets/images/barfinder/image1.png" alt="img1" />
            <div
              class="card-body px-lg-9 d-flex flex-column justify-content-between pb-lg-9"
            >
              <div class="d-flex justify-content-between pt-lg-11">
                <p class="card-title fs-lg-7 text-primary-1">
                  貓下去敦北俱樂部
                </p>
                <span
                  class="material-symbols-outlined text-primary-1 fs-9 fs-lg-6"
                >
                  favorite
                </span>
              </div>
              <div>
                <p class="card-text text-primary-1 pb-lg-3">
                  令人放鬆的餐館，供應麵食與台式牛排等在地美食，以及葡萄酒和啤酒。
                </p>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  臺北市
                </button>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  可供訂位
                </button>
              </div>
            </div>
          </div>
          <div class="col bar-card">
            <img src="/assets/images/barfinder/image1.png" alt="img1" />
            <div
              class="card-body px-lg-9 d-flex flex-column justify-content-between pb-lg-9"
            >
              <div class="d-flex justify-content-between pt-lg-11">
                <p class="card-title fs-lg-7 text-primary-1">
                  貓下去敦北俱樂部
                </p>
                <span
                  class="material-symbols-outlined text-primary-1 fs-9 fs-lg-6"
                >
                  favorite
                </span>
              </div>
              <div>
                <p class="card-text text-primary-1 pb-lg-3">
                  令人放鬆的餐館，供應麵食與台式牛排等在地美食，以及葡萄酒和啤酒。
                </p>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  臺北市
                </button>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  可供訂位
                </button>
              </div>
            </div>
          </div>
          <div class="col bar-card">
            <img src="/assets/images/barfinder/image1.png" alt="img1" />
            <div
              class="card-body px-lg-9 d-flex flex-column justify-content-between pb-lg-9"
            >
              <div class="d-flex justify-content-between pt-lg-11">
                <p class="card-title fs-lg-7 text-primary-1">
                  貓下去敦北俱樂部
                </p>
                <span
                  class="material-symbols-outlined text-primary-1 fs-9 fs-lg-6"
                >
                  favorite
                </span>
              </div>
              <div>
                <p class="card-text text-primary-1 pb-lg-3">
                  令人放鬆的餐館，供應麵食與台式牛排等在地美食，以及葡萄酒和啤酒。
                </p>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  臺北市
                </button>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  可供訂位
                </button>
              </div>
            </div>
          </div>
          <div class="col bar-card">
            <img src="/assets/images/barfinder/image1.png" alt="img1" />
            <div
              class="card-body px-lg-9 d-flex flex-column justify-content-between pb-lg-9"
            >
              <div class="d-flex justify-content-between pt-lg-11">
                <p class="card-title fs-lg-7 text-primary-1">
                  貓下去敦北俱樂部
                </p>
                <span
                  class="material-symbols-outlined text-primary-1 fs-9 fs-lg-6"
                >
                  favorite
                </span>
              </div>
              <div>
                <p class="card-text text-primary-1 pb-lg-3">
                  令人放鬆的餐館，供應麵食與台式牛排等在地美食，以及葡萄酒和啤酒。
                </p>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  臺北市
                </button>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  可供訂位
                </button>
              </div>
            </div>
          </div>
          <div class="col bar-card">
            <img src="/assets/images/barfinder/image2.png" alt="img2" />
            <div
              class="card-body px-lg-9 d-flex flex-column justify-content-between pb-lg-9"
            >
              <div class="d-flex justify-content-between pt-lg-11">
                <p class="card-title fs-lg-7 text-primary-1">
                  貓下去敦北俱樂部
                </p>
                <span
                  class="material-symbols-outlined text-primary-1 fs-9 fs-lg-6"
                >
                  favorite
                </span>
              </div>
              <div>
                <p class="card-text text-primary-1 pb-lg-3">
                  令人放鬆的餐館，供應麵食與台式牛排等在地美食，以及葡萄酒和啤酒。
                </p>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  臺北市
                </button>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  可供訂位
                </button>
              </div>
            </div>
          </div>
          <div class="col bar-card">
            <img src="/assets/images/barfinder/image2.png" alt="img2" />
            <div
              class="card-body px-lg-9 d-flex flex-column justify-content-between pb-lg-9"
            >
              <div class="d-flex justify-content-between pt-lg-11">
                <p class="card-title fs-lg-7 text-primary-1">
                  貓下去敦北俱樂部
                </p>
                <span
                  class="material-symbols-outlined text-primary-1 fs-9 fs-lg-6"
                >
                  favorite
                </span>
              </div>
              <div>
                <p class="card-text text-primary-1 pb-lg-3">
                  令人放鬆的餐館，供應麵食與台式牛排等在地美食，以及葡萄酒和啤酒。
                </p>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  臺北市
                </button>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  可供訂位
                </button>
              </div>
            </div>
          </div>
          <div class="col bar-card">
            <img src="/assets/images/barfinder/image2.png" alt="img2" />
            <div
              class="card-body px-lg-9 d-flex flex-column justify-content-between pb-lg-9"
            >
              <div class="d-flex justify-content-between pt-lg-11">
                <p class="card-title fs-lg-7 text-primary-1">
                  貓下去敦北俱樂部
                </p>
                <span
                  class="material-symbols-outlined text-primary-1 fs-9 fs-lg-6"
                >
                  favorite
                </span>
              </div>
              <div>
                <p class="card-text text-primary-1 pb-lg-3">
                  令人放鬆的餐館，供應麵食與台式牛排等在地美食，以及葡萄酒和啤酒。
                </p>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  臺北市
                </button>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  可供訂位
                </button>
              </div>
            </div>
          </div>
          <div class="col bar-card">
            <img src="/assets/images/barfinder/image2.png" alt="img2" />
            <div
              class="card-body px-lg-9 d-flex flex-column justify-content-between pb-lg-9"
            >
              <div class="d-flex justify-content-between pt-lg-11">
                <p class="card-title fs-lg-7 text-primary-1">
                  貓下去敦北俱樂部
                </p>
                <span
                  class="material-symbols-outlined text-primary-1 fs-9 fs-lg-6"
                >
                  favorite
                </span>
              </div>
              <div>
                <p class="card-text text-primary-1 pb-lg-3">
                  令人放鬆的餐館，供應麵食與台式牛排等在地美食，以及葡萄酒和啤酒。
                </p>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  臺北市
                </button>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  可供訂位
                </button>
              </div>
            </div>
          </div>
          <div class="col bar-card">
            <img src="/assets/images/barfinder/image2.png" alt="img2" />
            <div
              class="card-body px-lg-9 d-flex flex-column justify-content-between pb-lg-9"
            >
              <div class="d-flex justify-content-between pt-lg-11">
                <p class="card-title fs-lg-7 text-primary-1">
                  貓下去敦北俱樂部
                </p>
                <span
                  class="material-symbols-outlined text-primary-1 fs-9 fs-lg-6"
                >
                  favorite
                </span>
              </div>
              <div>
                <p class="card-text text-primary-1 pb-lg-3">
                  令人放鬆的餐館，供應麵食與台式牛排等在地美食，以及葡萄酒和啤酒。
                </p>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  臺北市
                </button>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  可供訂位
                </button>
              </div>
            </div>
          </div>
          <div class="col bar-card">
            <img src="/assets/images/barfinder/image2.png" alt="img2" />
            <div
              class="card-body px-lg-9 d-flex flex-column justify-content-between pb-lg-9"
            >
              <div class="d-flex justify-content-between pt-lg-11">
                <p class="card-title fs-lg-7 text-primary-1">
                  貓下去敦北俱樂部
                </p>
                <span
                  class="material-symbols-outlined text-primary-1 fs-9 fs-lg-6"
                >
                  favorite
                </span>
              </div>
              <div>
                <p class="card-text text-primary-1 pb-lg-3">
                  令人放鬆的餐館，供應麵食與台式牛排等在地美食，以及葡萄酒和啤酒。
                </p>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  臺北市
                </button>
                <button
                  type="button"
                  class="btn card-btn-primary-1 rounded-pill me-lg-6 fs-lg-8 py-lg-2 px-lg-4 me-1 text-nowrap"
                >
                  可供訂位
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2"></div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
